.col-md-5{
  font-size: 30px;
  font-family: 'Righteous', cursive;
  font-size: 50px;
}

button{
font-size: 20px;
margin-bottom: 10px;
}

body{
  text-align: center;
  overflow: hidden;
  font-family: 'Black Ops One', cursive;
}

#dice{
  font-size: 90px;
  padding-top: 40%;
}

.instructions{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Ubuntu Mono', monospace;
}

.footer{
  max-height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header{
  height: 200px;
  width:100%;
  background-color: #5fff01;
  font-family: 'Fredericka the Great', cursive;
}

.header h1{
  font-size: 100px;
  padding-top: 20px;
}

.header img {
  float: right;
  max-width: 189px;
  margin-right: 20px;
  margin-top: 20px;
}
