.col-md-5{
  font-size: 30px;
  font-family: 'Righteous', cursive;
  font-size: 50px;
}

button{
font-size: 20px;
}

/* .firstPlayer{
  padding-left: 5%;
  font-family: 'Black Ops One', cursive;
  font-family: 'Cabin Sketch', cursive;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Righteous', cursive;
  font-family: 'Shojumaru', cursive;
} */

body{
  text-align: center;
}

#dice{
  font-size: 60px;
  padding-top: 30%;
}
body{
  overflow: hidden;
}

.instructions{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Ubuntu Mono', monospace;
  /* text-align: center; */
}


.footer{
  max-height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header{
  height: 200px;
  width:100%;
  background-color: rgb(95, 255, 1);
font-family: 'Fredericka the Great', cursive;
}

.header h1{
  font-size: 100px;
  padding-top: 20px;
}

.header img {
  float: right;
  max-width: 150px;
  margin-left: 20px;
  margin-top: 20px;
}
